{{#each blogs as |blog|}}
<div class="card">
    <h2 class="card-header">{{blog.title}}</h2>
    <p class='blog-subheader'>Written By: {{blog.user.username}} at {{format_time blog.createdAt}} on {{format_date blog.createdAt}}</p>
    <div class="card-body">
        <p class="card-text">{{blog.text}}</p>
        <a href="/blog/{{blog.id}}" class="btn btn-primary">add a comment</a>
    </div>
</div>
{{/each}}

<div class="blog-btn-container">
    <button id='new-blog-btn' type="button" class="btn btn-primary blog-btn"> + add
        a blog </button>